@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;
.services {
  padding: 3rem 10rem;
  .all-services {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    overflow: hidden;
  }
}

@include responsive(mobile) {
  .services {
    padding: 1rem;

    .all-services {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }
}
