@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;
.therapists {
  padding: 3rem 10rem;
  .all-therapists {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    overflow: hidden;
  }
}

@include responsive(mobile) {
  .therapists {
    padding: 1rem;

    .all-therapists {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}

@include responsive(tablet) {
  .therapists {
    padding: 1rem;

    .all-therapists {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
}
