@use "../../../styles/vars" as *;
@use "../../../styles/mixins" as *;
.bullet {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #707070;
  cursor: pointer;

  &.active {
    background-color: #011f2a;
  }
}
