@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;
.reviews {
  padding: 3rem 12rem;
  .title {
    font-size: $heading_three;
    text-align: center;
  }
  .container {
    overflow: hidden;
    .all-reviews {
      display: flex;
      gap: 2rem;
      margin-top: 2rem;
    }
  }

  .slider-bullets {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;

    .bullet {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #707070;
      cursor: pointer;
      &.active {
        background-color: #011f2a;
      }
    }
  }
}
