@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;
.reviews {
  padding: 3rem 12rem;
  .title {
    font-size: $heading_three;
    text-align: center;
  }
  .container {
    overflow: hidden;
    .all-reviews {
      display: flex;
      gap: 2rem;
      margin-top: 2rem;
    }
  }
}
