@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;
.reviews {
  padding: 3rem 12rem;
  .title {
    font-size: $heading_three;
    text-align: center;
  }
  .container {
    overflow: hidden;
    .all-reviews {
      display: flex;
      gap: 2rem;
      margin-top: 2rem;
      transition: $slow_transition;
    }
  }

  .slider-bullets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }
}

@include responsive(mobile) {
  .reviews {
    padding: 1rem;

    .title {
      font-size: $heading_five;
    }

    .container {
      .all-reviews {
        gap: 1rem;
      }
    }

    .slider-bullets {
      gap: 1.2rem;
    }
  }
}

@include responsive(tablet) {
  .reviews {
    padding: 2rem;

    .slider-bullets {
      gap: 1.5rem;
    }
  }
}
