@use './vars' as *;
@mixin responsive($device) {
  @if $device == mobile {
    @media (max-width: 767px) {
      @content;
    }
  }

  @if $device == tablet {
    @media (max-width: 1199px) and (min-width: 768px) {
      @content;
    }
  }
}

// Navbar component content:
@mixin navbar-content {
  .navbar {
    justify-content: space-between;

    .side-bar {
      display: block;
    }

    .image {
      width: 80px;
      height: 100px;
    }

    .links {
      display: none;
    }

    .contact {
      display: none;
    }
  }
}

// Membership component content:
@mixin Membership-content{
    .membership {
    .package {
      flex-direction: column;
      font-size: $heading_seven;
      h2 {
        margin-right: auto;
      }
      p {
        margin-left: auto;
      }
    }

    .all-benefits {
      margin-top: 1rem;
      gap: 1rem;
      li {
        font-size: $paragraph_regular;
        span {
          margin-right: 10px;
          padding: 3px 8px;
        }
      }
    }
  }
}