@mixin responsive($device) {
  @if $device == mobile {
    @media (max-width: 767px) {
      @content;
    }
  }

  @if $device == tablet {
    @media (max-width: 1199px) and (min-width: 768px) {
      @content;
    }
  }
}

@mixin navbar-content {
  .navbar {
    justify-content: space-between;

    .side-bar {
      display: block;
    }

    .image {
      width: 80px;
      height: 100px;
    }

    .links {
      display: none;
    }

    .contact {
      display: none;
    }
  }
}
