// Colors:
$main_color: #fae0d3;
$dark_gray: #323232;

// Fonts:
$heading_one: 7.43rem; // 118.88 px
$heading_two: 2.986rem; // 47.78 px
$heading_three: 2.488rem; // 39.81 px
$heading_four: 2.074rem; // 33.18 px
$heading_five: 1.728rem; // 27.65 px
$heading_six: 1.44rem; // 23.04 px
$heading_seven: 1.2rem; // 19.20 px

$paragraph_regular: 1rem; // 16 px
$paragraph_small: 0.833rem; // 13.33 px

//  Transitions:
$fast_transition: 0.2s;
$mid_transition: 0.5s;
$slow_transition: 1s;
