// Colors:
$main_color: #fae0d3;

// Fonts:
$heading_one: 7.43rem;
$heading_two: 2.986rem;
$heading_three: 2.488rem;
$heading_four: 2.074rem;
$heading_five: 1.728rem;
$heading_six: 1.44rem;
$heading_seven: 1.2rem;

$paragraph_regular: 1rem;
$paragraph_small: 0.833rem;

//  Transitions:
$fast_transition: 0.2s;
$slow_transition: 0.5s;
