@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;
.navbar {
  position: fixed;
  z-index: 10000;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  color: $main_color;

  .side-bar {
    display: none;
    position: relative;
    padding-right: 4rem;
    .menu-icon {
      position: absolute;
      z-index: 11111;
      display: flex;
      gap: 8px;
      flex-direction: column;
      span {
        display: block;
        width: 40px;
        height: 3px;
        transition: $fast_transition;
        background: white;
        margin-left: auto;
        &:nth-child(2) {
          width: 30px;
        }
      }
      &.close-icon {
        span {
          &:nth-child(1) {
            transform: rotate(-45deg) translateY(15px);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: rotate(45deg) translateY(-15px);
          }
        }
      }
    }
  }

  .links {
    display: flex;
    gap: 2rem;
    a {
      color: $main_color;
      font-size: $heading_six;
    }
  }

  .contact {
    display: flex;
    align-items: center;
    gap: 2rem;
    svg {
      cursor: pointer;
      font-size: 20px;
    }

    .contact-us {
      color: $main_color;
      background-color: transparent;
      cursor: pointer;
      padding: 12px 3rem;
      border-radius: 10rem;
      border: 2px solid $main_color;
      outline: none;
      font-size: $heading_six;
    }
  }
}

@include responsive(mobile) {
  .navbar {
    justify-content: space-between;

    .side-bar {
      display: block;
    }

    .image {
      width: 80px;
      height: 100px;
    }

    .links {
      display: none;
    }

    .contact {
      display: none;
    }
  }
}
