@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;
.navbar {
  position: fixed;
  z-index: 10000;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  color: $main_color;
  .links {
    display: flex;
    gap: 2rem;
    a {
      color: $main_color;
      font-size: $heading_six;
    }
  }

  .contact {
    display: flex;
    align-items: center;
    gap: 2rem;
    svg {
      cursor: pointer;
      font-size: 20px;
    }

    .contact-us {
      color: $main_color;
      background-color: transparent;
      cursor: pointer;
      padding: 12px 3rem;
      border-radius: 10rem;
      border: 2px solid $main_color;
      outline: none;
      font-size: $heading_six;
    }
  }
}
