@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;
.memberships {
  padding: 3rem 10rem;
  .title {
    h2 {
      margin-bottom: 5px;
      font-size: $heading_two;
    }
    p {
      font-size: $heading_seven;
    }
  }

  .all-memberships {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    overflow: hidden;
  }
}

@include responsive(mobile) {
  .memberships {
    padding: 3rem 1rem;

    .title {
      text-align: center;
      h2 {
        font-size: $heading_five;
      }
      p {
        font-size: $paragraph_regular;
      }
    }

    .all-memberships {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }
}

@include responsive(tablet) {
  .memberships {
    padding: 2rem;

    .all-memberships {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
