@use "../../../styles/vars" as *;
@use "../../../styles/mixins" as *;
.review {
  border-radius: 2rem;
  border: 1px solid black;
  background-color: #fdf1eb;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  min-width: 350px;
  .top {
    .rate {
      display: flex;
      gap: 10px;
      margin-bottom: 1rem;
      svg {
        color: #f36b1d;
        font-size: 24px;
      }
    }

    .feedback {
      font-size: $paragraph_regular;
    }
  }

  .reviewer {
    font-style: italic;
    font-weight: bold;
    text-align: end;
  }
}

@include responsive(mobile) {
  .review {
    gap: 4rem;
    min-width: calc(100% - 1rem);
  }
}
