@use "../../../styles/vars" as *;
@use "../../../styles/mixins" as *;
.therapist {
  .therapist-image {
    max-width: 400px;
    max-height: 440px;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    h4 {
      font-size: $heading_five;
      text-decoration: underline;
    }
    .review {
      font-size: $paragraph_regular;
      text-transform: uppercase;
      padding: 10px 1rem;
      outline: none;
      border: none;
      background-color: black;
      color: white;
      cursor: pointer;
      border-radius: 10rem;
    }
  }
}
